/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-coy&languages=markup+css+clike+javascript+bash+haskell&plugins=line-numbers */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*="language-"],
pre[class*="language-"] {
	word-wrap: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	background: none;
	color: black;
	font-family: 'Roboto Mono', 'Ubuntu Mono', monospace;
	font-size: 13px;
	hyphens: none;
	line-height: 1.65;
	text-align: left;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;
	tab-size: 4;
}

/* Code blocks */
pre[class*="language-"] {
	position: relative;
    border-radius: 3px;
    background: #F9F9F9;
	padding: 15px 0;
	overflow: visible;
}

pre[class*="language-"]:hover {
    background: #F5F5F5;
}

pre[class*="language-"]>code {
	position: relative;
}

code[class*="language"] {
	display: block;
	padding: 0 10px;
	height: inherit;
	max-height: inherit;
	overflow: auto;
    color: #555;
    white-space: pre-wrap;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	display: inline;
	position: relative;
    border-radius: 3px;
    background: rgba(27, 31, 35, 0.05);
    padding: 0 6px;
    color: #555;
    font-family: 'Roboto Mono';
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7D8B99;
}

.token.punctuation {
	color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
	color: #8D68FD;
}

.token.string {
    color: #41B985;
}

.token.selector,
.token.attr-name,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
	color: #FD6868;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	/* background: rgba(255, 255, 255, 0.5); */
	color: #FF992B;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
	color: #6878FD;
}

.token.regex,
.token.important {
	color: #e90;
}

.language-css .token.string,
.style .token.string {
	background: rgba(255, 255, 255, 0.5);
	color: #a67f59;
}

.token.important {
	font-weight: normal;
}

.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.namespace {
	opacity: .7;
}

@media screen and (max-width: 767px) {
	pre[class*="language-"]:before,
	pre[class*="language-"]:after {
		bottom: 14px;
		box-shadow: none;
	}

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
	padding-left: 0;
}

pre[class*="language-"].line-numbers.line-numbers code {
	padding-left: 3.8em;
}

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
	left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
pre[data-line] code {
	position: relative;
	padding-left: 4em;
}
pre .line-highlight {
	margin-top: 0;
}

pre[class*="language-"].line-numbers {
	position: relative;
	counter-reset: linenumber;
	padding-left: 3.8em;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: absolute;
	top: 0;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	pointer-events: none;
	font-size: 100%;
	letter-spacing: -1px;
	user-select: none;

}

	.line-numbers-rows > span {
		display: block;
		counter-increment: linenumber;
		pointer-events: none;
	}

		.line-numbers-rows > span:before {
			display: block;
			padding-right: 0.8em;
			color: #bbb;
			text-align: right;
			content: counter(linenumber);
		}
