input {
    margin: 10px;
    /* This is a workaround viewport scaling on mobile making the default
     * border too small. In the future when the design is more properly
     * responsive this shouldn't be needed.
     */
    border-radius: 3px;
}

.calculator {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: black;
    padding: 20px;
    min-width: 230px;
    color: white;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.calculator .output {
    padding: 0  0 20px 0;
    color: white;
    font-size: 32px;
    font-weight: 300;
    text-align: right;
}

.calculator .input {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-areas:
        "other-pad other-pad other-pad ops-pad"
        "number-pad number-pad number-pad ops-pad"
        "number-pad number-pad number-pad ops-pad"
        "number-pad number-pad number-pad ops-pad"
        "number-pad number-pad number-pad ops-pad";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
}

.calculator .input .other-pad {
    grid-column-gap: 10px;
    display: grid;
    grid-area: other-pad;
    grid-template-columns: repeat(3, 1fr);
}

.calculator .input .ops-pad {
    grid-row-gap: 10px;
    display: grid;
    grid-area: ops-pad;
    grid-template-rows: repeat(5, 1fr);
}

.calculator .input .number-pad {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: grid;
    grid-area: number-pad;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
        "zero zero j";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.calculator .input button {
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    min-width: 40px;
    color: white;
    line-height: 40px;
}

.calculator .input .ops-pad button {
    background: orange;
    color: black;
}

.calculator .input .other-pad button {
    background: #BBB;
    color: black;
}

.calculator .input .number-pad button {
    background: #444;
}

.calculator .input .number-pad button.zero {
    grid-area: zero;
}
