/*
@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,700,700i|PT+Sans:400,400i,700,700i');
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
    font-family: 'PT Sans', helvetica, sans-serif;
    font-weight: 400;
    overflow: hidden;
}

body {
  height: 100%;
}

.header h1 {
    outline: 2px solid black;
    width: 12rem;
    margin: 30px auto;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Asap', helvetica, sans-serif;
    font-weight: 700;
}

.logo {
  height: 20%;
  width: 30%;
  margin: auto;
  display: block;
  padding: 0;
}

ul.sections {
    margin: 0 0 3rem 0;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1dadc;
    border-bottom: 1px solid #d1dadc;
}

ul.sections li + li {
  border-left: 1px solid #ecf1f3;
}

ul.sections li a {
    padding: 0rem 0.3rem;
    margin: 0.3rem 1rem;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #333;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

    ul.sections li a:hover, ul.sections li a:focus {
        color: #E6182E;
    }
    
.main {
    margin: auto;
    width: 650px;
    padding-left: 3.2%;
}

.footer {
  text-align: center;
  margin: 0 auto;
}

.footer i {
  color: #453B3B;
  padding-left: .5%;
  font-size: 1.2em;
}

.footer i:hover {
  color: #E6182E;
}

/*---Responsive Design-----*/

@media (min-width: 362px) and (max-width: 600px)  {

  .logo {
    width: 50%;
    height: 20%;
  }

  ul.sections {
    display: -webkit-inline-box;;
  }
  
  .main {
    margin: 0; 
    padding-right: 4%;
    padding-left: 4%;
    width: 100%;
  }
}

@media screen and (max-width: 360px) {

  .logo {
    width: 80%;
    margin-left: 35%;
  }

  ul.sections {
    display: -webkit-inline-box;;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1dadc;
    border-bottom: 1px solid #d1dadc;
  } 
  
  .main {
    margin: 0; 
    margin-left: 38%;
    padding-right: 4%;
    padding-left: 4%;
    width: 100%;
  }

  .footer {
    padding-left: 75%;
  }

  .footer i {
    padding-left: 9%;
  }

}
