/*
@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,700,700i|PT+Sans:400,400i,700,700i');
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
    font-family: 'PT Sans', helvetica, sans-serif;
    font-weight: 400;
    overflow: hidden;
    height: 100%;
}

body {
  height: 100%;
  /*text-align: center;*/
}

.header h1 {
    outline: 2px solid black;
    width: 12rem;
    margin: 30px auto;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Asap', helvetica, sans-serif;
    font-weight: 700;
}

.logo {
  height: 20%;
  width: 30%;
  margin: auto;
  display: block;
  padding: 0;
	cursor: pointer;
}

.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

ul.sections {
    margin: 0 8px 3rem 8px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1dadc;
    border-bottom: 1px solid #d1dadc;
    width: 100%;
}

ul.sections li + li {
  border-left: 1px solid #ecf1f3;
}

ul.sections li a {
    padding: 0rem 0.3rem;
    margin: 0.3rem 1rem;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #333;
    cursor: pointer;
}

    ul.sections li a:hover, ul.sections li a:focus {
        color: #D92323;
    }

ul.sections p {
  display: none;
}

ul.sections i {
  display: none;
}

.chosenOne {
	border-bottom: 4px solid red;
}

.main {
    margin: auto;
    width: 650px;
    padding-left: 3.2%;
}

.footer {
  text-align: center;
  margin: 0 auto;
	position: absolute;
	bottom: 6%;
	width: 100%;
}

.footer i {
  color: #453B3B;
  font-size: 1.2em;
	margin: 0 1% 0 1%;
}

.footer i:hover {
  color: #D92323;
}

.noshow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

ul.noshow {
    margin: 0 0 3rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1dadc;
    border-bottom: 1px solid #d1dadc;
    width: 100%;
}

ul.noshow li + li {
  border-left: 1px solid #ecf1f3;
}

ul.noshow li a {
    padding: 0rem 0.3rem;
    margin: 0.3rem 1rem;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #333;
    cursor: pointer;
}

    ul.noshow li a:hover, ul.noshow li a:focus {
        color: #E6182E;
    }

ul.noshow p {
  display: none;
}

ul.noshow i {
  display: none;
}
/*---Responsive Design-----*/

@media (min-width: 601px) and (max-width: 768px) {

  .logo {
    width: 70%;
  }

  div.sections {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.1);
		display: flex;
		justify-content: center;
		align-items: flex-start;
  }

  ul.sections {
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 15.8rem;

  }

  .header ul li {
    border-top: none;
  }

  ul.sections li {
    display: block;
    text-align: center;
  }

  ul.sections li + li {
    border-left: none;
  }

  ul.sections li a {
    display: block;
		border-bottom: hidden;
  }

	.chosenOne {
		border-bottom: hidden;
	}

   ul.sections p {
    display: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul.sections i {
    display: block;
    float: right;
  }

  .main {
    width: inherit;
  }

  ul.noshow {
      margin: 0 0 3rem 0;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      list-style: none;
      border-top: 1px solid #d1dadc;
      border-bottom: 1px solid #d1dadc;
  }

  ul.noshow li {
    display: none;
  }

  ul.noshow p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
  }

  ul.noshow i {
    display: inline-block;
  }

  .footer {
  }

  .footer i {
    margin: 0 3.5% 0 3.5%;
  }

}

@media (orientation: landscape) {

  html {
    overflow: scroll;
  }

  .footer {
    position: inherit;
    font-size: 0.8em;
		margin-bottom: 2%;
  }

}

@media (min-width: 362px) and (max-width: 376px) and (orientation: portrait) {

	.logo {
    width: 70%;
  }

	div.sections {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.1);
		display: flex;
		justify-content: center;
		align-items: flex-start;
  }


  ul.sections {
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 7.9rem;
  }

  .header ul li {
    border-top: none;
  }

  ul.sections li {
    display: block;
    text-align: center;
  }

  ul.sections li + li {
    border-left: none;
  }

  ul.sections li a {
    display: block;
		border-bottom: hidden;
  }

 	.chosenOne {
		border-bottom: hidden;
	}

  ul.sections p {
    display: none;
  }

  ul.sections i {
    display: block;
    float: right;
  }

  .main {
    margin: 0;
    padding-right: 4%;
    padding-left: 4%;
    width: 100%;
  }

  ul.noshow {
      margin: 0 0 1.7rem 0;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      list-style: none;
      border-top: 1px solid #d1dadc;
      border-bottom: 1px solid #d1dadc;
  }

  ul.noshow li {
    display: none;
  }

  ul.noshow p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
  }

  ul.noshow i {
    display: inline-block;
  }

  .footer {
  }

  .footer i {
		margin: 0 2.5% 0 2.5%;
  }

}

@media (min-width: 377px) and (max-width: 600px) and (orientation: portrait) {

  .logo {
    width: 70%;
  }

	div.sections {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.1);
		display: flex;
		justify-content: center;
		align-items: flex-start;
  }


  ul.sections {
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 8.7rem;
  }

  .header ul li {
    border-top: none;
  }

  ul.sections li {
    display: block;
    text-align: center;
  }

  ul.sections li + li {
    border-left: none;
  }

  ul.sections li a {
    display: block;
		border-bottom: hidden;
  }

 	.chosenOne {
		border-bottom: hidden;
	}

  ul.sections p {
    display: none;
  }

  ul.sections i {
    display: block;
    float: right;
  }

  .main {
    margin: 0;
    padding-right: 4%;
    padding-left: 4%;
    width: 100%;
  }

  ul.noshow {
      margin: 0 0 1.7rem 0;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      list-style: none;
      border-top: 1px solid #d1dadc;
      border-bottom: 1px solid #d1dadc;
  }

  ul.noshow li {
    display: none;
  }

  ul.noshow p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
  }

  ul.noshow i {
    display: inline-block;
  }

  .footer {
  }

  .footer i {
		margin: 0 2.5% 0 2.5%;
  }
}

@media screen and (max-width: 320px) and (orientation: portrait) {

	.logo {
    width: 70%;
  }

  div.sections {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.1);
		display: flex;
		justify-content: center;
		align-items: flex-start;
  }

  ul.sections {
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 6.8rem;

  }

  .header ul li {
    border-top: none;
  }

  ul.sections li {
    display: block;
    text-align: center;
  }

  ul.sections li + li {
    border-left: none;
  }

  ul.sections li a {
    display: block;
		border-bottom: hidden;
  }

	.chosenOne {
		border-bottom: hidden;
	}

   ul.sections p {
    display: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul.sections i {
    display: block;
    float: right;
  }

  .main {
    width: inherit;
  }

  ul.noshow {
      margin: 0 0 3rem 0;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      list-style: none;
      border-top: 1px solid #d1dadc;
      border-bottom: 1px solid #d1dadc;
  }

  ul.noshow li {
    display: none;
  }

  ul.noshow p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
  }

  ul.noshow i {
    display: inline-block;
  }

  .footer {
  }

  .footer i {
		margin: 0 3.5% 0 3.5%;
  }

}
@media (min-width: 321px) and (max-width: 360px) and (orientation: portrait){

  .logo {
    width: 70%;
  }

  div.sections {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.1);
		display: flex;
		justify-content: center;
		align-items: flex-start;
  }

  ul.sections {
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 7.6rem;

  }

  .header ul li {
    border-top: none;
  }

  ul.sections li {
    display: block;
    text-align: center;
  }

  ul.sections li + li {
    border-left: none;
  }

  ul.sections li a {
    display: block;
		border-bottom: hidden;
  }

	.chosenOne {
		border-bottom: hidden;
	}

   ul.sections p {
    display: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul.sections i {
    display: block;
    float: right;
  }

  .main {
    width: inherit;
  }

  ul.noshow {
      margin: 0 0 3rem 0;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      list-style: none;
      border-top: 1px solid #d1dadc;
      border-bottom: 1px solid #d1dadc;
  }

  ul.noshow li {
    display: none;
  }

  ul.noshow p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
  }

  ul.noshow i {
    display: inline-block;
  }

  .footer {
  }

  .footer i {
		margin: 0 3.5% 0 3.5%;
  }

}
